# % macro, DEVICE, Device prefix
# % macro, EVENT, Event number
# % macro, NAME, Device suffix

# Configure the EVR to decode the event
record(erevent, $(DEVICE):$(NAME)) {
  field(DTYP, "MRF Event Receiver")
  field(OUT, "#C3 S0 @")
  field(ENAB, "Enabled")
  field(ENM, "$(EVENT)")
  field(PINI, "YES")
  field(PRIO, "LOW")
  field(SCAN, "Passive")
  field(OUT0, "Disabled")
  field(OUT1, "Disabled")
  field(OUT2, "Disabled")
  field(OUT3, "Disabled")
  field(OUT4, "Disabled")
  field(OUT5, "Disabled")
  field(OUT6, "Disabled")
  field(OUT7, "Disabled")
  field(OUT8, "Disabled")
  field(OUT9, "Disabled")
  field(OUTA, "Disabled")
  field(OUTB, "Disabled")
  field(OUTC, "Disabled")
  field(OUTD, "Disabled")
  field(VME, "Enabled")
}

#######################################################################
# EPICS events
#######################################################################

# Event to trigger SCAN="Event" processing
record(event, $(DEVICE):$(NAME)S) {
        field(SCAN,"I/O Intr")
        field(DTYP, "MRF Event Receiver")
        field(INP, "#C3 S$(EVENT) @")
        field(VAL, "$(EVENT)")
        field(PRIO, "HIGH")
}
