#% macro, __doc__, Template is needed for each gauge to be included in
# the fast vacuum monitoring. Generates a waveform with the data.
# There is a limit of 500 elements we can read into a waveform over FINS.
# This template combines the 500 chunks into a single waveform and converts
# from 0-4000 to pressure
# % macro, device, Device prefix
# % macro, img, Img prefix
# % macro, fins_port, asyn port name of FINS driver
# % macro, eip_port, asyn port name of etherip driver
# % macro, tagidx, Index for the eip tags
# % macro, timeout, asyn fins_port timeout
# % macro, id, id of the gauge, eg, 01,02 etc
# % macro, em, em number in PLC
# % macro, waveform_nelm, Number of elements in each waveform
# % macro, wave0_addr, Address of waveform 0
# % macro, wave1_addr, Address of waveform 1
# % macro, wave2_addr, Address of waveform 2
# % macro, wave3_addr, Address of waveform 3
# % macro, wave4_addr, Address of waveform 4
# % macro, wave5_addr, Address of waveform 5
# % macro, combined_nelm, Number of elements in final waveform


record(waveform, "$(device):GAUGE$(id)_0") {
  field(SCAN, "Passive")
  field(DTYP, "asynInt16ArrayIn")
  field(INP, "@asyn($(fins_port), $(wave0_addr), $(timeout=0)) FINS_EM$(em)_READ")
  field(NELM, "$(waveform_nelm)")
  field(FTVL, "USHORT")
  field(FLNK, "$(device):GAUGE$(id)_1 PP")
}

record(waveform, "$(device):GAUGE$(id)_1") {
  field(SCAN, "Passive")
  field(DTYP, "asynInt16ArrayIn")
  field(INP, "@asyn($(fins_port), $(wave1_addr), $(timeout=0)) FINS_EM$(em)_READ")
  field(NELM, "$(waveform_nelm)")
  field(FTVL, "USHORT")
  field(FLNK, "$(device):GAUGE$(id)_2 PP")
}

record(waveform, "$(device):GAUGE$(id)_2") {
  field(SCAN, "Passive")
  field(DTYP, "asynInt16ArrayIn")
  field(INP, "@asyn($(fins_port), $(wave2_addr), $(timeout=0)) FINS_EM$(em)_READ")
  field(NELM, "$(waveform_nelm)")
  field(FTVL, "USHORT")
  field(FLNK, "$(device):GAUGE$(id)_3 PP")
}

record(waveform, "$(device):GAUGE$(id)_3") {
  field(SCAN, "Passive")
  field(DTYP, "asynInt16ArrayIn")
  field(INP, "@asyn($(fins_port), $(wave3_addr), $(timeout=0)) FINS_EM$(em)_READ")
  field(NELM, "$(waveform_nelm)")
  field(FTVL, "USHORT")
  field(FLNK, "$(device):GAUGE$(id)_4 PP")
}

record(waveform, "$(device):GAUGE$(id)_4") {
  field(SCAN, "Passive")
  field(DTYP, "asynInt16ArrayIn")
  field(INP, "@asyn($(fins_port), $(wave4_addr), $(timeout=0)) FINS_EM$(em)_READ")
  field(NELM, "$(waveform_nelm)")
  field(FTVL, "USHORT")
  field(FLNK, "$(device):GAUGE$(id)_5 PP")
}

record(waveform, "$(device):GAUGE$(id)_5") {
  field(SCAN, "Passive")
  field(DTYP, "asynInt16ArrayIn")
  field(INP, "@asyn($(fins_port), $(wave5_addr), $(timeout=0)) FINS_EM$(em)_READ")
  field(NELM, "$(waveform_nelm)")
  field(FTVL, "USHORT")
  field(FLNK, "$(device):GAUGE$(id)_COMBINE PP")
}

# Combine waveforms and convert to pressure
record(aSub, "$(device):GAUGE$(id)_COMBINE"){
    field(INPA, "$(device):GAUGE$(id)_0")
    field(INPB, "$(device):GAUGE$(id)_1")
    field(INPC, "$(device):GAUGE$(id)_2")
    field(INPD, "$(device):GAUGE$(id)_3")
    field(INPE, "$(device):GAUGE$(id)_4")
    field(INPF, "$(device):GAUGE$(id)_5")
    field(FTA, "USHORT")
    field(FTB, "USHORT")
    field(FTC, "USHORT")
    field(FTD, "USHORT")
    field(FTE, "USHORT")
    field(FTF, "USHORT")
    field(NOA, "$(waveform_nelm)")
    field(NOB, "$(waveform_nelm)")
    field(NOC, "$(waveform_nelm)")
    field(NOD, "$(waveform_nelm)")
    field(NOE, "$(waveform_nelm)")
    field(NOF, "$(waveform_nelm)")
    field(SNAM, "processWaveforms")
    field(OUTA, "$(device):GAUGE$(id) PP")
    field(NOVA, "$(combined_nelm)")
    field(NEVA, "$(combined_nelm)")
    field(FTVA, "FLOAT")
}

# Final result, a waveform record with all previous records combined
# % archiver 60 Monitor
record(waveform, "$(img):FP") {
  field(SCAN, "Passive")
  field(NELM, "$(combined_nelm)")
  field(FTVL, "FLOAT")
  field(TSEL, "$(device):TIMESTAMP.TIME")
	field(EGU,  "mBar")
  alias("$(device):GAUGE$(id)")
}

####################################################################
# Channel configuration / diagnostics

record(ao, "$(device):TRIG_MULTI$(id)") {
  field(DESC, "Set value ")
  field(DTYP, "EtherIP")
  field(SCAN, "Passive")
  field(PREC, "2")
  field(DRVH, "1.5")
  field(DRVL, "0.5")
  field(OUT, "@$(eip_port) FVA.Trigger_Multiplier[$(tagidx)] S 0.5")
}

record(ai, "$(device):TRIG_MULTI$(id)_RBV") {
  field(DESC, "Get value ")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(EGU, "")
  field(PREC, "2")
  field(INP, "@$(eip_port) FVA.Trigger_Multiplier_RB[$(tagidx)]")
}

###########

record(ao, "$(device):HYST_MULTI$(id)") {
  field(DESC, "Set value ")
  field(DTYP, "EtherIP")
  field(SCAN, "Passive")
  field(PREC, "2")
  field(DRVH, "1.5")
  field(DRVL, "0.5")
  field(OUT, "@$(eip_port) FVA.Hysteresis_Multiplier[$(tagidx)] S 0.5")
}

record(ai, "$(device):HYST_MULTI$(id)_RBV") {
  field(DESC, "Get value ")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(EGU, "")
  field(PREC, "2")
  field(INP, "@$(eip_port) FVA.Hysteresis_Multiplier_RB[$(tagidx)]")
}

###########

record(ao, "$(device):AVG_TIME$(id)") {
  field(DESC, "Set value ")
  field(DTYP, "EtherIP")
  field(SCAN, "Passive")
  field(PREC, "2")
  field(DRVH, "1.5")
  field(DRVL, "0.5")
  field(OUT, "@$(eip_port) FVA.Averaging_Time[$(tagidx)] S 0.5")
}

record(ai, "$(device):AVG_TIME$(id)_RBV") {
  field(DESC, "Get value ")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(EGU, "")
  field(PREC, "2")
  field(INP, "@$(eip_port) FVA.Averaging_Time_RB[$(tagidx)]")
}

###########

record(ai, "$(device):TRIG_LEVEL$(id)_RAW") {
  field(DESC, "Trigger level raw")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(EGU, "")
  field(PREC, "1")
  field(INP, "@$(eip_port) FVA.Trigger_Level[$(tagidx)]")
}

record(calc, "$(device):TRIG_LEVEL$(id)_V") {
    field(DESC, "Trigger level as voltage")
    field(CALC, "a*(10/4000)")
    field(INPA, "$(device):TRIG_LEVEL$(id)_RAW CP")
    field(PREC, "3")  
    field(EGU, "V")
}

record(calc, "$(device):TRIG_LEVEL$(id)") {
    field(DESC, "Trigger level as mbar")
    field(CALC, "a < b ? 1e-11*exp(1.2156*a):3e-13*exp(2.0620*a)")
    field(INPA, "$(device):TRIG_LEVEL$(id)_V CP")
    field(B, "4.142908669")
    field(PREC, "3")
    field(EGU, "mBar")
}

###########

record(ai, "$(device):HYST_LEVEL$(id)_RAW") {
  field(DESC, "Get value ")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(EGU, "")
  field(PREC, "1")
  field(INP, "@$(eip_port) FVA.Hysteresis_Level[$(tagidx)]")
}

record(calc, "$(device):HYST_LEVEL$(id)_V") {
    field(DESC, "Hysteresis level as voltage")
    field(CALC, "a*(10/4000)")
    field(INPA, "$(device):HYST_LEVEL$(id)_RAW CP")
    field(PREC, "3")
    field(EGU, "V")
}

record(calc, "$(device):HYST_LEVEL$(id)") {
    field(DESC, "Hysteresis level as mbar")
    field(CALC, "a < b ? 1e-11*exp(1.2156*a):3e-13*exp(2.0620*a)")
    field(INPA, "$(device):HYST_LEVEL$(id)_V CP")
    field(B, "4.142908669")
    field(PREC, "3")
    field(EGU, "mBar")
}
