# This file is only used for gui association and calc records.
# Remaining records are generated in builder.py

# % macro, name, Object name and gui association name
# % macro, P, device prefix
# % macro, Q, device suffix
# % macro, desc, Description
# % gui, $(name), edm, DCMHeater.edl, name=$(name),P=$(P),Q=$(Q),desc=$(desc)

record(ao, "$(P)$(Q):UTSP:IN") {
  field(FLNK, "$(P)$(Q):UTSP:CALC")
  field(EGU, "C")
  field(PREC, "1")  
}

record(ao, "$(P)$(Q):SP:IN") {
  field(FLNK, "$(P)$(Q):SP:CALC")
  field(EGU, "C")
  field(PREC, "1")  
}

record(calcout, "$(P)$(Q):UTSP:CALC") {
  field(CALC, "(A+273.1)*10")
  field(INPA, "$(P)$(Q):UTSP:IN")
  field(OUT, "$(P)$(Q):UTSP PP")
}

record(calcout, "$(P)$(Q):SP:CALC") {
  field(CALC, "(A+273.1)*10")
  field(INPA, "$(P)$(Q):SP:IN")
  field(OUT, "$(P)$(Q):SP PP")
}

#% archiver 10 Monitor
record(calc, "$(P)$(Q):TTEMP:CALC") {
  field(INPA, "$(P)$(Q):TTEMP:GET CP MS")
  field(CALC, "(A/10.0)-273.1")
  field(EGU, "C")
  field(PREC, "1")  
}
