# Start of dlsPLC/db/dlsPLC_valveIlkNameOverride.vdb
# This template overrides interlock names without causing the interlocks
# to be archived a second time (if you just used dlsPLC_interlock.vdb).
# The reason for this is due to the desire to create a gui for motion
# interlocks and not have the gui complain about disconnected PVs, for example,
# a geobrick may only use 7 axes, if we don't create the PVs for this interlock
# the gui will complain. The motionInterlockPLC builder class creates all PVs for
# a geobrick, the motionLimitInterlock class uses this template to override the 
# ZNAM and ONAM should that interlock be used.

# % macro, __doc__, Template allowing interlock names to be overriden.
# % macro, device, device prefix
# % macro, interlock, Interlock suffix (e.g. :INT1)
# % macro, ilk0, Interlock description 0
# % macro, ilk1, Interlock description 1
# % macro, ilk2, Interlock description 2
# % macro, ilk3, Interlock description 3
# % macro, ilk4, Interlock description 4
# % macro, ilk5, Interlock description 5
# % macro, ilk6, Interlock description 6
# % macro, ilk7, Interlock description 7
# % macro, ilk8, Interlock description 8
# % macro, ilk9, Interlock description 9
# % macro, ilk10, Interlock description 10
# % macro, ilk11, Interlock description 11
# % macro, ilk12, Interlock description 12
# % macro, ilk13, Interlock description 13
# % macro, ilk14, Interlock description 14
# % macro, ilk15, Interlock description 15

record(bi, "$(device)$(interlock):ILK0") {
  field(ZNAM, "$(ilk0)")
  field(ONAM, "$(ilk0)")
}

record(bi, "$(device)$(interlock):ILK1") {
  field(ZNAM, "$(ilk1)")
  field(ONAM, "$(ilk1)")
}

record(bi, "$(device)$(interlock):ILK2") {
  field(ZNAM, "$(ilk2)")
  field(ONAM, "$(ilk2)")
}

record(bi, "$(device)$(interlock):ILK3") {
  field(ZNAM, "$(ilk3)")
  field(ONAM, "$(ilk3)")
}

record(bi, "$(device)$(interlock):ILK4") {
  field(ZNAM, "$(ilk4)")
  field(ONAM, "$(ilk4)")
}

record(bi, "$(device)$(interlock):ILK5") {
  field(ZNAM, "$(ilk5)")
  field(ONAM, "$(ilk5)")
}

record(bi, "$(device)$(interlock):ILK6") {
  field(ZNAM, "$(ilk6)")
  field(ONAM, "$(ilk6)")
}

record(bi, "$(device)$(interlock):ILK7") {
  field(ZNAM, "$(ilk7)")
  field(ONAM, "$(ilk7)")
}

record(bi, "$(device)$(interlock):ILK8") {
  field(ZNAM, "$(ilk8)")
  field(ONAM, "$(ilk8)")
}

record(bi, "$(device)$(interlock):ILK9") {
  field(ZNAM, "$(ilk9)")
  field(ONAM, "$(ilk9)")
}

record(bi, "$(device)$(interlock):ILK10") {
  field(ZNAM, "$(ilk10)")
  field(ONAM, "$(ilk10)")
}

record(bi, "$(device)$(interlock):ILK11") {
  field(ZNAM, "$(ilk11)")
  field(ONAM, "$(ilk11)")
}

record(bi, "$(device)$(interlock):ILK12") {
  field(ZNAM, "$(ilk12)")
  field(ONAM, "$(ilk12)")
}

record(bi, "$(device)$(interlock):ILK13") {
  field(ZNAM, "$(ilk13)")
  field(ONAM, "$(ilk13)")
}

record(bi, "$(device)$(interlock):ILK14") {
  field(ZNAM, "$(ilk14)")
  field(ONAM, "$(ilk14)")
}

record(bi, "$(device)$(interlock):ILK15") {
  field(ZNAM, "$(ilk15)")
  field(ONAM, "$(ilk15)")
}

# End of dlsPLC/db/dlsPLC_valveIlkNameOverride.vdb
