#% macro, __doc__, Template is instantiated for every gauge to
# construct the processing chain. This is instantiated by the fastVacuumMaster builder
# class which keeps track of the gauges instantiated via a callback method
# % macro, device, Device prefix
# % macro, lnk_no, LNK field number of fanout
# % macro, lnk, PV name to link to
# % macro, fan, fanout number, 01,02,03
# % macro, mask, Mask indicating which gauges are instantiated

# Entry to add LNK to relevant fanout
record(fanout, "$(device):FAN_$(fan)") {
    field(LNK$(lnk_no), "$(lnk) PP")
}

# Record to indicate which gauges have been instantiated
# Note bit 0 refers to gauge 0 which doesn't exist
# Note that this records is overridden many times, look for the last
# occurence in the database to get the true value
record(ai, "$(device):GAUGE_MASK") {
    field(VAL, $(mask))
}
