# % macro, __doc__, generalTime interface
#
# Macros:
# % macro, device, device name
# % macro, gt, generalTime PV prefix (Default = GT:)
# % macro, scan, scan rate (Default = 10 second)

record(ai, "$(device):$(gt=GT:)CURTIME")
{
	field(DESC, "Get Time")
	field(DTYP, "General Time")
	field(INP,  "@TIME")
	field(SCAN, "$(scan=10 second)")
}

record(bo, "$(device):$(gt=GT:)RSTERR")
{
	field(DESC, "Reset ErrorCounts")
	field(DTYP, "General Time")
	field(OUT,  "@RSTERRCNT")
}

record(longin, "$(device):$(gt=GT:)ERRCNT")
{
	field(DESC, "Get ErrorCounts")
	field(DTYP, "General Time")
	field(INP,  "@GETERRCNT")
	field(SCAN, "$(scan=10 second)")
}

record(stringin, "$(device):$(gt=GT:)BESTTCP")
{
	field(DESC, "Best Time-Current-Provider")
	field(DTYP, "General Time")
	field(INP,  "@BESTTCP")
	field(SCAN, "$(scan=10 second)")
}

record(stringin, "$(device):$(gt=GT:)BESTTEP")
{
	field(DESC, "Best Time-Event-Provider")
	field(DTYP, "General Time")
	field(INP,  "@BESTTEP")
	field(SCAN, "$(scan=10 second)")
}

record(stringin, "$(device):$(gt=GT:)TOPTCP")
{
	field(DESC, "Hight Priority Time-Provider")
	field(DTYP, "General Time")
	field(INP,  "@TOPTCP")
	field(SCAN, "$(scan=10 second)")
}
