# Hy8401ip.template
# Template database for a single ADC channel
# Pete Owens - 22/7/07
# 
# substitutions:
# name - record name
# c    - ADC card number
# s    - ADC signal number
################################################################################
# Raw ADC Channel
#
#% controldesk ADC Channel
#% archiver 0.1 Monitor
#
record(ai, "$(name)") 
{
  field(DESC, "Raw ADC Channel")
  field(DTYP, "Hy8401ip")
  field(INP,  "#C$(c) S$(s)")
  field(SCAN, ".1 second")
  field(EGU,  "V")
  field(LINR, "LINEAR")
  field(PREC, "3")
  field(EGUF, "10")
  field(EGUL, "-10")
  field(HOPR, "10")
  field(LOPR, "-10")
  field(ADEL, "0.01")
}
