# NX102_readBool.template
#% macro, __doc__, Template database for reading a bool from and NX PLC
#% macro, name, Object name and gui association name
#% macro, P, PV prefix
#% macro, desc, Description
#% macro, port, Port name of ether_ip driver
#% macro, tag, Tag name of ether_ip read value
#% macro, scan, Record scan rate
#% macro, onam, ONAM
#% macro, znam, ZNAM

# Logic is as follows to match old implementation:
# Initial   Run   IRVAC
# 1         1     0       (Both OK)
# 0         1     2       (Initial Failed)
# 0         0     3       (Both Failed)

record(bi, "$(P):IVAC") {
  field(DESC, "Initial Vacuum")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(ONAM, "On")
  field(ZNAM, "Off")
  field(INP, "@$(port) Initial_Vacuum")
}

record(bi, "$(P):RVAC") {
  field(DESC, "Run Vacuum")
  field(DTYP, "EtherIP")
  field(SCAN, "1 second")
  field(ONAM, "On")
  field(ZNAM, "Off")
  field(INP, "@$(port) Run_Vacuum")
}

record(calc, "$(P):IRVAC") {
    field(DESC, "description")
    field(CALC, "(!a*2)+(!b*1)")
    field(INPA, "$(P):IVAC CP")
    field(INPB, "$(P):RVAC CP")
}
