# % macro, SYSTEM, Device prefix
# % macro, LOPR, LOPR
# % macro, HOPR, HOPR
# % controldesk $(SYSTEM) setpoint
#% archiver 30 Monitor
record(ao, $(SYSTEM)) {
  field(SCAN, "Passive")
  field(PINI, "YES")
  field(DTYP, "Raw Soft Channel")
  field(DOL, "0")
  field(OMSL, "closed_loop")
  field(LINR, "NO CONVERSION")
  field(DRVL, "0")
  field(DRVH, "1000000")
  field(LOPR, "$(LOPR)")
  field(HOPR, "$(HOPR)")
  field(PREC, "5")
  field(EGU, "uSec")
}
