# rackFan_rio.template
#
# % macro, __doc__, Template for rack fan digital input indication via EtherCAT RIO module also used for rack DUPLEX power supply status.
#
# Provide a value for the optional DESC macro if using for power supply or other purpose.
#
# % macro, device,     Mandatory.  Device name prefix - rack and parameter monitored.
# % macro, rio_dinput, Mandatory.  The EtherCAT remote io digital input signal.
#
# % macro, DESC,       Optional.   The PV DESC field description.  Defaults to "Status of rack fan".
#
################################################################################
#
#% archiver 60 Monitor
#
record(bi,"$(device):STA")
{
    field(DESC,"$(DESC=Status of rack fan)")
    field(SCAN,"1 second")
    field(DTYP,"Soft Channel")
    field(INP,"$(rio_dinput)")
    field(ZNAM,"Fail")
    field(ONAM,"OK")
    field(ZSV,"MAJOR")
    field(OSV,"NO_ALARM")
}
