# Generic sel record
# % macro, P, Device Prefix
# % macro, R, Device Suffix
# % macro, DESC, Description
# % macro, SELM, Select Mechanism	
# % macro, SELN, Select Number	
# % macro, INPA, Input link A
# % macro, INPB, Input link B
# % macro, INPC, Input link C
# % macro, INPD, Input link D
# % macro, INPE, Input link E
# % macro, INPF, Input link F
# % macro, INPG, Input link G
# % macro, INPH, Input link H
# % macro, INPI, Input link I
# % macro, INPJ, Input link J
# % macro, INPK, Input link K
# % macro, INPL, Input link L
record(sel, "$(P)$(R)") {
    field(DESC, "$(DESC="Sel record")")
    field(SELM, "$(SELM="High Signal")")
    field(SELN, "$(SELN="1")")
    field(INPA, "$(INPA="")")
    field(INPB, "$(INPB="")")
    field(INPC, "$(INPC="")")
    field(INPD, "$(INPD="")")
    field(INPE, "$(INPE="")")
    field(INPF, "$(INPF="")")
    field(INPG, "$(INPG="")")
    field(INPH, "$(INPH="")")
    field(INPI, "$(INPI="")")
    field(INPJ, "$(INPJ="")")
    field(INPK, "$(INPK="")")
    field(INPL, "$(INPL="")")
}
