# simulation_rackFan.template
#
# % macro, __doc__, Simulation template for rack fan digital input indication via VME card also used for rack DUPLEX power supply status.
#
# Andy Duggan - 14/12/04 
#
# % macro, device,  Mandatory.  Device name prefix - rack and parameter monitored.
# % macro, c,       Mandatory.  Hy8001 (or other) digital input card number.
# % macro, s,       Mandatory.  Hy8001 (or other) digital input signal number.
# 
# % macro, DTYP,    Optional.  The device type for the rack fan signal, i.e. which digital card is in use.  Defaults to Hy8001.
# % macro, DESC,    Optional.  the PV DESC field description.  Defaults to "Status of rack fan".
#
################################################################################
# Simulate status
# put on a slowish scan to simulate sluggish response
#
record(calc, "$(device):SIM:STA")
{
    field(DESC, "Simulated Status")
    field(CALC, "A?0:1")
    field(SCAN, "10 second")
    field(INPA, "$(device):STA")
}
################################################################################
#
#% archiver 10 Monitor
#% controldesk Status smon
#
record(bi, "$(device):STA") 
{ 
  field(DESC, "$(DESC=Status of rack fan)")
#  field(DTYP, "$(DTYP=Hy8001)")
#  field(INP,  "#C$(c) S$(s)")
field(INP,  "$(device):SIM:STA")
  field(ZNAM, "Fail")
  field(ONAM, "OK")
  field(SCAN, "1 second")
  field(ZSV,  "MAJOR")
  field(OSV,  "NO_ALARM")
}
